Dockerfile
.classpath
.gradle/
.project
.settings/
.metadata
.build.gradle.swp
build/
buildSrc/.gradle/
buildSrc/build/
target/
.idea/
bin
node_modules/
*.iml
chromedriver.log
libpeerconnection.log
test-reports.xml
dashboard-test-reports.xml
.DS_Store
listing-services.ipr
listing-services.iws
listing-services.ids
*.swp
out/
src/main/resources/rebel.xml
vendor/
gradle/gradle/
gradle/gradlew
gradle/gradlew.bat
nanoServices/
tags
